1. PANDAS (25 points)

In [ ]:
# 1 (2 marks). Load the netflix_titles.csv dataset as a Pandas dataframe: 
import pandas as pd

# Replace 'netflix_titles.csv' with the actual path to your CSV file
csv_path = 'netflix_titles.csv'

# Load the CSV file into a Pandas DataFrame
netflix_df = pd.read_csv(csv_path)

# Display the first few rows of the DataFrame
print(netflix_df.head())

In [ ]:
# 2 (2 marks). Show the first 10 rows of the dataset

In [ ]:
# 3 (1 mark). Show the last 5 rows

In [ ]:
# 4 (4 marks). Count the number of rows which have no missing value in any of the columns, and show the resulting data frame.

In [ ]:
# 5 (3 marks). Drop everything that is not a 'Movie' and show the resulting data frame.

In [ ]:
# 6 (7 marks). For every movie where the duration is missing, replace it with the average 
  # duration of the movies in the dataset.

In [ ]:
# 7 (3 marks). Are there any duplicates in the data? If yes, please remove them.

In [ ]:
# 8 (2 marks). Rename all columns to start with a capital letter.

In [ ]:
# 9 (1 mark). Save the cleaned dataset as a new csv file.

2. MATPLOTLIB (25 points)

Use the netflix dataset to solve the exercises in this section.

In [ ]:
# 1 (10 marks). Create a visualisation which shows the frequency of movies by year of release.

In [ ]:
# 2 (15 marks). Create a pie chart which shows the 5 top most popular genres of the movis 
  # in the dataset.

3. NUMPY (25 points)

In [ ]:
# 1 (2 marks). Running the code in this cell throws an error. Why do we get this error
  # and how do we fix it?

# use this numpy array for all exercises in this section
arr = np.array([0, 56, 82, 500, 140, 43, 92, 10, 25, 11, 18, 26, 150, 240, 364, 196])
arr

In [ ]:
# 2 (5 marks). How many odd numbers do we have in the array?

In [ ]:
# 3 (5 marks). Replace all odd numbers in arr with 999

In [ ]:
# 4 (8 marks). The above is a 1D array. Convert it into a 4D array and reverse its columns.

# Desired output
# > array([[560,  82,  56,   0],
# >        [ 10,  92, 999, 140],
# >        [ 26,  18, 999, 999],
# >        [196, 364, 240, 150]])

In [ ]:
# 5 (5 marks). Find all values which are higher than 100 and lower or equal than 500.